<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'base/style.css' %}">
    <title>Document</title>
</head>

<body>
    <div class="initial_container">

        <div class="initial-page-img">
            <img src='../media/images/Company.jpg'>
        </div>

        <div class="initial-form-container">
            <h2 id="initial-form-instruc">Tell us about your company.</h2>
            <form action="" method="POST">
                {% csrf_token %}
                <label for="">Company Name</label>
                <br>
                <input type="text" name="company_name" placeholder="Company Name" class="form-input">
                <br>
                <label for="">Company Location</label>
                <br>
                <input type="text" name="company_location" placeholder="Company Location" class="form-input">
                <input type="submit" value="Submit" class="submit-initial-btn">
            </form>
        </div>
    </div>
</body>

</html>