<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'base/style.css' %}">
    <title>Document</title>
</head>

<body>
    <div class="initial_container">

        <div class="initial-page-img">
            <img src='../media/images/Seeker.jpg'>
        </div>

        <div class="initial-form-container">
            <h2 id="initial-form-instruc">Kindly fill your name details.</h2>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Submit" class='submit-initial-btn'>
            </form>
        </div>

    </div>
</body>

</html>