<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'base/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="password-reset-done-main-cont">
        <div class="done-txt-cont">
            <div class="done-icon-cont">
                <img src="../media/images/reset_done.png">
            </div>
            <h3>Password Reset Complete</h3>
            <p>Password updated. You can log in now</p>
        
            <!-- redirects to homepage -->
            <div class="reset-done-btn">
                <a href="/">Back to Login</a>
            </div>
        </div>
    </div>
</body>
</html>
