<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'base/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="password-reset-form">
        <div class="reset-form-cont">
            {% for field in form %}
            {{ field.errors }}
            {% endfor %}
            <form method="POST">
                <h3>Enter New Password</h3>
                <!-- Eto na ung input form -->
                {% csrf_token %}
                <!-- {{form}} -->
                <div class="new-pass-input">
                    <label>New Password</label>
                    {{form.new_password1}}
                </div>
                <div class="confirm-new-input">
                    <label>Confirm New Password</label>
                    {{form.new_password2}}
                </div>
                <div class="update-pass-btn">
                    <input type="Submit"  name="Update Password">
                </div>
            </form>
        </div>
    </div>
</body>
</html>
