<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'base/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="reset-main-container">
        <div class="reset-form-container">
            <form method="POST">
                <div class="form-container">
                    <div class="forgot-icon-cont">
                        <img src="../media/images/forgot_icon.png">
                    </div>
                    <div class="forgot-form">
                        <div class="forgot-form-txt">
                            <label class="reset-title">Reset Password</label>
                            <p>No worries! Enter your email and we will send you a reset.</p>
                        </div>
                        <div class="forgot-form-input">
                            <!-- Eto na ung input form -->
                            {% csrf_token %}
                            {{form}}  
                        </div>
                        <div class="forgot-form-btn">
                            <input type="submit"  name="Send email">
                        </div>
                    </div>
                    <div class="forgot-btn">
                        <a href="/">Go Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
