<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'base/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="password-reset-sent-main-cont">
        <div class="sent-txt-container">
            <div class="sent-icon-cont">
                <img src="../media/images/reset_sent.png">
            </div>
            <div class="txt-cont">
                <h3>Password Reset Sent</h3>
                <p>Email Sent!</p>
                <p>Check Spam or check the email you entered if not received</p>
                <p>Make sure din na existing ung email sa users sa db</p>
                <div class="reset-sent-btn">
                    <a href="/">Back to Login</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
