<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'base/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="user-password-change-main-container">
        <div class ='user-password-change-container'>
            <div class="user-password-change-container-title">
                Change Password
            </div>
            {% for field in form %}
            {{ field.errors }}
            {% endfor %}
            <form action="" method = "POST">
                {% csrf_token %}
                <label class = 'user-change-password-form-label'>Old Password</label>
                <br>
                {{form.old_password}}
                <label class = 'user-change-password-form-label'>New Password</label>
                <br>
                {{form.new_password1}}
                <label class = 'user-change-password-form-label'>Confirm New Password</label>
                <br>
                {{form.new_password2}}
                <input type="submit" value="Change Password" class='user-change-password-button'>
            </form>
            <div class="back-to-profile">
                <a href="{% url 'return_to_profile' %}">Go Back</a>
            </div>
            
        </div>
        
    </div>
</body>
</html>
