{% extends 'main.html' %}
{% block content %}
{% if messages %}
<div class="messages">
{% for message in messages %}
<div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
{% endfor %}
</div>
{% endif %}
{% for work in works %}
    <div>
        {{work.name}}
        <form action="" method = "POST">
            {% csrf_token %}
            <input type="hidden" name="operation" value="delete_work">
            <input type="hidden" name ="work_id" value="{{work.id}}">
            <input type="submit" value="Delete">
        </form>
    </div>
{% endfor %}
<div>
    <form action="" method = "POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="hidden" name="operation" value="add_work">
        <input type="submit" value="Add">
    </form>
</div>
</div>
{% load sweetify %}
{% sweetify %}
{% endblock content %}